<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="w-full min-h-screen bg-zinc-900 text-white p-10">
      <div class="flex w-full justify-end">
        <a class="bg-red-500 rounded-md px-3 py-2 text-sm" href="/logout">Log Out</a>
      </div>
      <h2 class="text-2xl tracking-tight mb-8">Edit your post</h2>

      <form action="/update/<%= post._id %>" method="post">
        <textarea class="block mb-5 resize-none bg-transparent border-2 border-zinc-800 rounded-md outline-none p-3 w-96 h-32" placeholder="What's on your mind?" name="content"><%= post.content %></textarea>
        <input class="px-5 rounded-md py-2 bg-yellow-500 text-black mb-5" type="submit" value="Update post" />
      </form>
    </div>
  </body>
</html>
