* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  height: 100vh;
  display: grid;
  place-items: center;
  background: #8d3daf;
}

.main-div {
  width: 500px;
  background: #1b98f5;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  text-align: center;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  border-radius: 0.5rem;
}

h1 {
  color: #fff;
}

input {
  padding: 0.5rem;
  font-size: 1.2rem;
  width: 50px;
  outline: none;
}

p {
  color: #fff;
  font-size: 3.5rem;
  border-radius: 50%;
  font-weight: 500;
}

.counter-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn-div {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

button {
  font-size: 1.2rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
}
