.layout{
  background-color: #fff;
  width: 800px;
  height: 500px;
  border-radius: 20px;
  padding: 1rem;
}

h1{
  text-align: center;
  margin-top: 4rem;
}

.textarea{
  width: 80%;
  margin: 2rem auto;
  display: block;
  resize: none;
  height: 200px;
  border: 4px solid black;
  padding: 0.5rem;
  font-size: 1.2rem;
  color: grey;
}

.displayArea{
  width: 80%;
  display: block;
  margin: auto;
}

h3{
  margin-bottom: 1rem;
}