* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #e65c00; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f9d423,
    #e65c00
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f9d423,
    #e65c00
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 1rem;
}

th{
    font-family: cursive;
    font-size: 20px;
    color: #03203C;
}

td{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}