* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  display: grid;
  grid-gap: 10px;
  margin: 10px;
  height: 98vh;
  grid-template-areas:
    "header header header header header"
    "sidebar nav nav nav aside"
    "sidebar section section section aside"
    "sidebar section section section aside"
    "sidebar section section section aside"
    "sidebar section section section aside"
    "sidebar section section section aside"
    "sidebar section section section aside"
    "footer footer footer footer footer";
}

header,
#sidebar,
nav,
section,
footer,
aside {
  border: 2px solid #ef233c;
  padding: 10px;
}

#header {
  grid-area: header;
}

#sidebar {
  grid-area: sidebar;
}

#nav {
  grid-area: nav;
}

#section {
  grid-area: section;
}

#aside {
  grid-area: aside;
}

#footer {
  grid-area: footer;
}

@media (max-width: 1024px) {
  .container {
    grid-template-areas:
      "header header header header header"
      "nav nav nav nav nav"
      "sidebar section section section section"
      "sidebar section section section section"
      "sidebar section section section section"
      "sidebar section section section section"
      "sidebar section section section section"
      "sidebar section section section section"
      "sidebar section section section section"
      "sidebar section section section section"
      "sidebar section section section section"
      "sidebar section section section section"
      "sidebar section section section section"
      "aside footer footer footer footer";
  }
}

@media (max-width: 680px) {
  .container {
    grid-template-areas:
      "header header header header header"
      "nav nav nav nav nav"
      "section section section section section"
      "section section section section section"
      "section section section section section"
      "section section section section section"
      "section section section section section"
      "section section section section section"
      "section section section section section"
      "section section section section section"
      "section section section section section"
      "section section section section section"
      "section section section section section"
      "sidebar sidebar sidebar sidebar sidebar"
      "aside aside aside aside aside"
      "footer footer footer footer footer";
  }
}
