* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body {
  height: 100vh;
  display: grid;
  place-items: center;
  background: #5da3fa;
}

div {
  width: 300px;
  background-color: #f7cd2e;
  padding: 1rem;
  border-radius: 8px;
  text-align: center;
}

p {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

#input {
  font-size: 1.2rem;
  margin: 1rem auto;
  outline: none;
  padding: 0.5rem;
  border: none;
  border-radius: 8px;
}

button {
  display: block;
  margin: 2rem auto;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#display {
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
  text-align: center;
  outline: none;
  color: #000;
}

.refresh {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
