<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CRUD Operations</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="w-full h-full bg-zinc-900 p-10 text-white">
      <div class="mb-10 nav">
        <a class="text-blue-500" href="/read">See All Users</a>
      </div>
      <h1 class="text-3xl mb-8 tracking-tighter">Create User</h1>
      <form action="/create" method="post">
        <input class="block mb-5 w-full px-5 py-2 bg-transparent rounded-lg border-2 border-zinc-800 outline-none" type="text" placeholder="Enter Name" name="name" />
        <input class="block mb-5 w-full px-5 py-2 bg-transparent rounded-lg border-2 border-zinc-800 outline-none" type="text" placeholder="Enter Email" name="email" />
        <input class="block mb-5 w-full px-5 py-2 bg-transparent rounded-lg border-2 border-zinc-800 outline-none" type="text" placeholder="Enter ImageUrl" name="image" />
        <textarea class="bg-transparent rounded-lg border-2 border-zinc-800 outline-none w-full mb-5 px-5 py-2 resize-none h-52" placeholder="Enter Description" name="description"></textarea>
        <input class="px-5 py-2 bg-blue-500 rounded-lg" type="submit" value="Create User" />
      </form>
    </div>
  </body>
</html>
