# Logs
logs
*.log

# Dependency directories
node_modules/

# Package files
package.json
package-lock.json

# OS-specific files
.DS_Store
Thumbs.db

# Environment variables file
.env

# Build output
build/
dist/
out/
