<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pinterest</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <% if (nav === true) { %>
    <div class="w-full px-10 py-3 flex justify-between">
      <a href="/<%= user.username %>" class="text-3xl">Pinterest</a>
      <div class="flex gap-10 items-center">
        <a href="/<%= user.username %>">Profile</a>
        <a href="/feed">Feed</a>
        <a href="/" class="px-3 py-2 bg-red-600 text-white rounded-lg">Logout</a>
      </div>
    </div>
    <% } %>
 
