* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: #1fa2ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #a6ffcb,
    #12d8fa,
    #1fa2ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #a6ffcb,
    #12d8fa,
    #1fa2ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
  text-align: center;
  margin: 4rem 0;
  font-family: cursive;
}

.year {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #6a1b4d;
}

ol {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

li {
  list-style-type: none;
}

@media (max-width: 1000px) {
  body {
    padding: 0 1rem;
    padding-bottom: 1rem;
  }

  ol {
    align-items: flex-start;
  }
}
